.measure-widest {
    max-width: 44em;
}

figure.aligncenter {
    text-align: center;
}

/* Is not used anymore actually, as I decided to avoid featured images. */
header.cover {
    background-size: contain !important;
}

pre.chroma {
    overflow: visible;
    white-space: pre-wrap;
}

.bg-flat-ui-blue-dark {
    background-color: #2980b9;
}
